body {
    font-family: 'Open Sans', sans-serif;
}
nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    list-style: none;
    color: #69696a;
    margin: 10px 0;
    padding: 0;
    width: 100%;
}
a {
    display: flex;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    list-style: none;
    justify-content: flex-start;
}
button {
    background-color: #000;
    color: #f9fafc;
    white-space: nowrap;
    text-align: center;
    padding: 15px 45px;
    border-radius: 50px;
    margin: 0 auto;
    width: 90%;
    border: none;
}
p {
    border-left: 1px solid #69696a; 
    color: #69696a;
    padding-left: 10px;
}
.outerDiv {
	background-color: #f9fafc;
    height: 100%;
	width: 100%;
	margin: 0px auto;
    padding: 20px;
    position: relative;
    display: flex;
}

.leftDiv {
    color: #000;
    height: 400px;
    width: 50%;
}

.rightDiv {
    color: #000;
    height: 400px;
    width: 50%;
    position: relative;
}

#circle1 {
    position: absolute;
    top: 90px;
    left: 100px;
    height: 175px;
    width: 175px;
    z-index: 1;
    background-color: rgba(247, 136, 167, 0.6);
    border-radius: 50%;
}
  
#circle2 {
    position: absolute;
    top: 188px;
    right: 330px;
    height: 110px;
    width: 110px;
    z-index: 3;
    background-color: rgba(247, 193, 162, 0.7);
    border-radius: 50%;
}
  
#circle3 {
    position: absolute;
    top: 120px;
    right: 320px;
    height: 85px;
    width: 85px;
    z-index: 2;
    background-color: rgba(207, 130, 213, 0.6);
    border-radius: 50%;
}

@media only screen and (min-width: 600px) {
    nav {
    flex-direction: row;
    justify-content: space-between;
    margin: 0; 
}
    button {
    width: 100px;
    padding: 5px 0px;
    margin: 0;
}
    footer {
    display: flex;
}
    .links {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (max-width: 768px) {
    .rightDiv {
    display: none;
}
}